.vscode/
src/public-src/
src/webview-public-src/
src/extension-src/
src/webview-main-src/
node_modules/
.gitignore
postcss.config.js
tailwind.config.js
tsconfig.extension.json
tsconfig.webview.json
webpack.config.extension.js
webpack.config.webview-main.js