.text-accept {
  --text-opacity: 1;
  color: rgba(22, 160, 133, var(--text-opacity));
}

.text-reject {
  --text-opacity: 1;
  color: rgba(236, 105, 65,var(--text-opacity));
}

.bg-accept {
  --bg-opacity: 1;
  background-color: rgba(22, 160 ,133, var(--bg-opacity));
}

.bg-reject {
  --bg-opacity: 1;
  background-color: rgba(236, 105, 65, var(--bg-opacity));
}

.left-border:before, .right-border:after {
  content: "";
  position: absolute;
  width: calc(50% - 0.9rem);
  top: 1.05rem;
  border-bottom: 2px solid #b0bec5;
}

.left-border:before {
  left: 0;
}

.right-border:after {
  right: 0;
}